    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about | TutoriaLearn</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
    <header class="main-header">
        <h1>Welcome to TutoriaLearn</h1>
        <p>Upgrade your skills with expert-led courses</p>
         <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">TutoriaLearn</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav" >
      <ul class="navbar-nav" style="list-style-type: none; padding-left: 0;">
        <li class="nav-item"><a class="nav-link active" href="{% url 'home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'course_list' %}">Courses</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.google.com/search?q=&sca_esv=2ecbce6232480e5e&hl=en&sxsrf=AE3TifNXZ8C7tsZtoqPpHWKAYTwWmZvhHg%3A1751381660585&source=hp&ei=nPZjaLncIei9seMP2ISYyQ0&iflsig=AOw8s4IAAAAAaGQErJA-AaEI9ToPdnmnuxWrpP-bPeLa&aep=22&udm=50&ved=0ahUKEwi5mvmN9ZuOAxXoXmwGHVgCJtkQteYPCBM">💬 Open AI Chatbot</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>
{% block content %}
<div class="container mt-5">
    <h1>About Us</h1>
    <p>This is an online learning platform built with Django, We offer a variety of quality courses.</p>
</div>
{% endblock %}
<footer class="bg-dark text-white text-center py-4 mt-5">
  <div class="container">
    <p class="mb-1">© 2025 <strong>OnlineLearning</strong>. All rights reserved.</p>
    <p class="mb-0">Empowering Learning, Anytime, Anywhere.</p>
  </div>
</footer>